/* Importar fuentes */
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Rubik:wght@300..900&display=swap');

/* Variables CSS */
:root {
  --primary-color: #C29A53;
  --background-color: #1A1516;
  --font-primary: 'Rubik', sans-serif;
  --font-secondary: 'Alice', serif;
  --transition-time: 0.3s;
}

/* Estilos globales */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: var(--font-primary);
}

.root {
  min-height: 100vh;
  background-color: var(--background-color);
  color: white;
  opacity: 1;
}

/* Header y nav */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.9rem;
}

header h2 {
  color: var(--primary-color);
  font-size: 2rem;
  line-height: 1.75rem;
  font-weight: 700;
  font-family: var(--font-secondary);
}

nav > * + * {
  margin-left: 2rem;
}

nav a {
  color: white;
  transition: color var(--transition-time) ease;
}

a {
  text-decoration: none;
}

nav a:hover {
  color: var(--primary-color);
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5rem;
  position: relative;
}
/*    form    */
.form {
  position: relative;
  display: flex;
  margin: 4rem;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 40rem;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 30px 20px #C29A53;
}

.form .title {
  color: var(--primary-color); 
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input {
  outline: 0;
  border: 1px solid rgb(219, 213, 213);
  border-radius: 8px;
  width: 100%;
  height: 50px;
}

.form textarea {
  border-radius: 8px;
  height: 100px;
  width: 100%;
  resize: none;
  outline: 0;
  border: 1px solid rgb(219, 213, 213);
}

.form button {
  padding: 8px;
  outline: 0;
  border: 0;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  background-color: var(--primary-color);
  color: var(--background-color);
  cursor: pointer;
}
    
/* Footer */
footer {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  align-items: center;
  background-image: linear-gradient(0deg, var(--primary-color) 0%, transparent 99%);
  color: initial;
}

.footer-container {
  display: flex;
  align-items: center;
  gap: 218px;
  margin-top: 65px;
}

address {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.contact {
  display: flex;
  align-items: center;
  gap: 15px;
}

.social-media {
  display: flex;
  align-items: center;
  gap: 15px;
}

.pollo-ico {
  filter: drop-shadow(5px 4px 10px);
}

.no-border-radius {
  border-radius: 0px;
}

.copyright {
  display: block;
  padding: 20px;
  text-align: center;
}

/* Animaciones */
@keyframes aparicion {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} 
/* whatsapp icon*/
.btn-wsp{
  display: flex;
  justify-content: center;
  align-items: center;
  position:fixed;
  width:60px;
  height:60px;
  line-height: 63px;
  bottom:25px;
  right:25px;
  background:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:40px;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
  z-index:100;
  transition: all 300ms ease;
}
.btn-wsp:hover{
  background: #20ba5a;
}
@media only screen and (min-width:320px) and (max-width:768px){
  .btn-wsp{
      width:63px;
      height:63px;
      line-height: 66px;
  }
}