@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

body {
  padding: 0;
  margin: 0;
  background-color: #1A1516;
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*            NavHeader           */
header {
  padding: 10px 0;
}
.containerHeader {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  text-decoration: none;
  color: #333;
}
.logo h1 {
  margin: 0;
  font-size: 24px;
  font-family: "Alice";
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
ul li {
  margin-left: 20px;
}
ul li a {
  text-decoration: none;
  color: #ffffff;
}
.logo {
  color: #c29a53;
  font-size: 24px;
  font-weight: 700;
}
/*      end navbar      */

/*           Main            */
hr {
  border-style: dotted;
  margin-inline-start: 5%;
  margin-inline-end: 5%;
}
h2 {
  color: #c29a53;
  font-family: "Alice", serif;
  font-size: xxx-large;
}
.hero {
  display: grid;
  padding-inline: 10px;
  height: 720px;
  background-color: #1a1516;
  background-image: linear-gradient(180deg, #1a1516 1%, #201d10 75%, #ffffff 100%);
  align-items: center;
}

.hero-container{
  display: flex;
  height: 400px;
  justify-content: space-around;
  align-items: center;  
}
.heroImg {
  height: 400px;
  width: 500px;
}
.hero p {
  max-width: 382px;
  color: #ffffff;
}

.features {
  background-color: #ffffff;
  padding-inline: 10px;
  margin-top: -19px;
}
.featureImg {
  width: 400px;
  height: 300px;
  border-radius: 15px;
}
h3 {
  font-family: "Alice", Regular;
}
/*        Main       */     
.cta {
  background-color: #c29a53;
  padding-inline: 10px;
}
.cta-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  padding-inline: 25px;
}
.cta-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.cta h2 {
  color: #1A1516;
  size: 30px;
  text-align: end;
  margin-bottom: 10px;

}
.ctaImg {
  height: 400px;
  width: 500px;
}
.cta p {
  max-width: 382px;
  text-align: end;
}

/* ------FOOTER---------*/
footer {
  display: flex;
  padding-inline: 10px;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  background-image: linear-gradient(0deg, #ffffff 0%, #c29a53 72%);
}
.footer-container {
  display: flex;
  align-items: center;
  gap: 218px;
  margin-top: 65px;
}
footer img {
  border-radius: 20px;
}
address {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.contact{
  display: flex;
  align-items: center;
  gap: 15px;
}
.social-media {
  display: flex;
  align-items: center;
  gap: 15px;
}
.copyright {
  display: block;
  text-align: center;
}