@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import url("./styles/index.css");
body {
  padding: 0;
  margin: 0;
  background-color: #1A1516;
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*            NavHeader           */
header {
  padding: 10px 0;
}
.containerHeader {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  text-decoration: none;
  color: #333;
}
.logo h1 {
  margin: 0;
  font-size: 24px;
  font-family: "Alice";
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
ul li {
  margin-left: 20px;
}
ul li a {
  text-decoration: none;
  color: #ffffff;
}
.logo {
  color: #c29a53;
  font-size: 24px;
  font-weight: 700;
}
/*      end navbar      */

.contenido {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.texto {
  flex: 1;
  margin-right: 20px;
}

.nosotros {
  border-radius: 30px;
  background-color: #ffffff;
  margin-top: 5px;
  padding: 40px;
  margin: 10px;
  max-width: 500px;
  min-width: 450px;
  max-height: 680px;
}

.contenedor-uno {
  max-width: 1180px;
  width: 95%;
  margin: 0 auto;
}

.navegacion {
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  padding-top: 45px;
  color: #ffffff;
  margin-bottom: 50px;
}



.imagen img {
  max-width: 600px;
  height: auto;
  border-radius: 20px;
}
/*       boton      */
.btn-sabermas{
  display: flex;
  justify-content: flex-end;
}
.btn{

    list-style-type: none;
    margin: 0;
    padding: 0;
}
.btn li:hover{
  cursor: pointer;
}
.btn li {
  --c: #C29A53;
  color: var(--c);
  font-size: 16px;
  border: 0.3em solid var(--c);
  border-radius: 0.5em;
  width: 12em;
  height: 3em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin: 1em;
}
.btn li span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}
.btn li:hover {
  color: black;
}
.btn li:hover span {
  transform: translateY(0) scale(2);
}

.btn li span:nth-child(1) {
  --n: 1;
}

.btn li span:nth-child(2) {
  --n: 2;
}

.btn li span:nth-child(3) {
  --n: 3;
}

/* ------FOOTER---------*/
footer {
  display: flex;
  padding-inline: 10px;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  background-image: linear-gradient(0deg, #ffffff 0%, #c29a53 72%);
}
.footer-container {
  display: flex;
  align-items: center;
  gap: 218px;
  margin-top: 65px;
}
footer img {
  border-radius: 20px;
}
address {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.contact{
  display: flex;
  align-items: center;
  gap: 15px;
}
.social-media {
  display: flex;
  align-items: center;
  gap: 15px;
}
.copyright {
  display: block;
  text-align: center;
}