@import url("./normalize.css");

body {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  background-color: #1a1516;
}
.logo {
  text-decoration: none;
  color: #c29a53;
  font-weight: bold;
  margin-right: 20px;
}
h1 {
  display: flex;
  justify-content: center;
  font-size: 40px;
}
h1,
p {
  color: rgb(0, 0, 0);
}

.contenido {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.texto {
  flex: 1;
  margin-right: 20px;
}

img {
  margin: 15px;
}

.nosotros {
  border-radius: 30px;
  background-color: #ffffff;
  margin-top: 5px;
  padding: 40px;
  margin: 10px;
  max-width: 500px;
  min-width: 450px;
  max-height: 680px;
}

.contenedor-uno {
  max-width: 1180px;
  width: 95%;
  margin: 0 auto;
}

.navegacion {
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  padding-top: 45px;
  color: #ffffff;
  margin-bottom: 50px;
}

.navegacion__items {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  align-items: center;
}


.imagen img {
  max-width: 600px;
  height: auto;
  border-radius: 20px;
}

/* Estilos para los botones con efecto de pulsación */
.pulse-effect {
  border: none;
  color: white;
  padding: 14px 28px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #1A1516; /* Color base del botón */
  transition: transform 0.3s ease-in-out; /* Transición suave del efecto de pulsación */
}

.pulse-effect:hover {
  background-color: #1a1516d2; /* Cambia el color al pasar el cursor sobre el botón */
}

.pulse-effect:active {
  transform: scale(0.50); /* Reduce ligeramente el tamaño del botón cuando se hace clic */
}
.about-us {
  display: flex;
  justify-content: flex-end;
}